html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 580px;
}

.modalLogin {
    margin-top: 100px;
}

.truncate-text {
    display: block;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.main {
    margin-top: 80px;
}

.modal-info {
    position: relative;
}

.modal-info ul a {
    text-decoration: none;
    color: black;
}

.modal-info ul a:hover {
    color: #00A888 !important;
}

.small-modal-content {
    position: absolute;
    max-width: 220px;
    top: 35px;
    left: 650px;
}

.small-modal-content ul {
    list-style: none;
}


#draggable-list {
    display: flex;
    flex-wrap: nowrap;
}

.item {
    cursor: pointer;
    flex: 0 0 auto;
    width: 300px;
    height: 60px;
}

.overflow-auto::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn trình duyệt */
}

#userAvatar {
    width: 150px;
}

