html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 576px;
}

.mauxanh {
    background-color: #428bca; /* Màu xanh (#428bca) */
}

.maudo {
    background-color: #ed5650; /* Màu đỏ (#ed5650) */
}

.bg-custom-blue {
    background-color: #009efb; /* Màu blue tùy chỉnh */
}

.truncate-text {
    display: block;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.truncate-text-admin {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 350px;
}

.navbar {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu {
    display: none;
}
.dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
}

.dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
}

.main {
    margin-top: 85px;
}

.modalUser .modalEditImage {
    margin-top: 100px;
}

.modelUser {
    margin-top: 100px;
}


.modal-info {
    position: relative;
}

.modal-info ul a {
    text-decoration: none;
    color: black;
}

.modal-info ul a:hover {
    color: #00A888 !important;
}

.small-modal-content {
    position: absolute;
    max-width: 220px;
    top: 35px;
    left: 650px;
}

.small-modal-content ul {
    list-style: none;
}


#draggable-list {
    display: flex;
    flex-wrap: nowrap;
}

.item {
    cursor: pointer;
    flex: 0 0 auto;
    width: 300px;
    height: 60px;
}

.overflow-auto::-webkit-scrollbar {
    display: none;
}

#userAvatar {
    width: 150px;
    cursor: pointer;
}


#userAvatar:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


.pdf-container {
    width: 100%;
    text-align: center;
}

.pdf-container embed {
    width: 100%;
    height: 800px;
}

.card-img-top {
    height: 250px;
    object-fit: contain;
}


.icon-login {
    font-size: 4rem;
}

.docHover {
    transition: box-shadow 0.3s;
}

.docHover:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


.list-group-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #cce6ff;
    cursor: pointer;
}

.list-group-item:hover a {
    color: #000080;
}

.rating-stars .bi-star-fill {
    color: gold;
}

.star-hidden {
    display: none;
}


.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: #dd4b39;
}

.btn-google:hover {
    color: #fff;
    background-color: #d14836;
    border-color: #d14836;
}

.divider {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
.divider::before, .divider::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 45%;
    height: 1px;
    background-color: #ccc;
}
.divider::before {
    right: 50%;
    margin-right: 20px;
}
.divider::after {
    left: 50%;
    margin-left: 20px;
}

#previewImage {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

